@import "./breakpoints";
@import "./mixins";

.container {
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
  padding: 0px 25px;

  @include media(">=tablet") {
    padding: 0px 50px;
    max-width: 1400px;
  }

  @include media(">=LGdesktop") {
    padding: 0px;
    max-width: 1400px;
  }
}
