$primary-orange: #f05a28;
$primary-purple: #49345b;
$primary-teal: #335c64;
$primary-green: #008960;
$primary-peach: #fed8a7;
$primary-violet: #e6c5dd;
$primary-gray: #c4c4c4;

$dark-purple: #171445;
$dark-gray: #313335;
$light-green: #d1fa94;
$light-peach: #fff7ed;
$light-gray: #f4f4f4;
$light-teal: #65878e;

$success-light: #63ad5e;
$success: #4bb543;
$success-dark: #28b01e;

$warning-light: #ffd736;
$warning: #ffcc00;
$warning-dark: #e6b800;

$danger-light: #ff3838;
$danger: #ff0e0e;
$danger-dark: #db0000;

$black: #000000;
$white: #ffffff;
