.footer {
  position: relative;
  background-color: $light-peach;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &__icon {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 120px;

    &.one {
      right: -75px;
      transform: translateY(-50%) rotate(15deg);
      top: 50%;
      @include media(">=desktop") {
        left: -50px;
        transform: translateY(-50%) rotate(15deg);
        top: 50%;
      }
    }

    &.two {
      right: -75px;
      transform: translateY(-50%) rotate(15deg);
      top: 65%;
      @include media(">=desktop") {
        left: 130px;
        transform: translateY(-50%) rotate(-15deg);
        top: 65%;
      }
    }

    &.three {
      right: -50px;
      transform: translateY(-50%) rotate(15deg);
      top: 35%;
      @include media(">=desktop") {
        left: 150px;
        transform: translateY(-50%) rotate(15deg);
        top: 35%;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    padding-top: 50px;

    @include media(">=tablet") {
      flex-direction: row;
      align-items: center;
    }

    &-img {
      mix-blend-mode: multiply;
      width: 100%;
      max-width: 250px;
      max-height: 100px;
      height: auto;
      width: auto;
    }
  }

  &__middle {
    padding: 100px 0px;
    min-height: 500px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);

    @include media(">=tablet") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(">=desktop") {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 80px;
    }

    &-col {
      width: auto;

      &.one {
        img {
          width: auto;
          max-width: 250px;
          padding-bottom: 20px;
        }
      }

      &.two {
      }

      &-meta {
        display: flex;
        flex-direction: column;

        h5 {
          padding-bottom: 20px;
        }

        a {
          font-weight: normal;
          text-decoration: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
    border-top: 2px gray solid;
    padding: 2.5% 5%;

    @include media(">=desktop") {
      flex-direction: row;
      align-items: center;
      gap: 0px;
      padding: 1% 2%;
    }

    a {
      text-decoration: none;
      font-weight: normal;
    }

    &-left {
    }
    &-middle {
    }
    &-right {
      display: flex;
      align-items: center;
      gap: 30px;

      &-socials {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
